@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensanslightitalic.woff') format('woff'), url('../fonts/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff'), url('../fonts/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff'), url('../fonts/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensanssemibolditalic.woff') format('woff'), url('../fonts/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff'), url('../fonts/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff'), url('../fonts/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensansextrabolditalic.woff') format('woff'), url('../fonts/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Open Sans';
	line-height: 32px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
p {
	line-height: 32px;
}
input, textarea, button {
	outline: none;
}
.control {
	width: 1600px;
	margin: 0 auto;
}
.header {
	background-image: url(../img/slide\ 1-1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.black-bar {
	height: 100px;
	background-color: black;
	display: flex;
	align-items: center;
}
.blur-bar {
	height: 70px;
	background-color: rgba(0, 0, 0, 0.4);
}
.header {
	color: white;
	font-size: 18px;
	line-height: 25px;
}
.navigation {
	display: flex;
}
.navigation-children {
	margin-right: 62px;
	cursor: pointer;
}
.navigation-childen:last-child {
	margin-right: 0;
}
.logo {
	margin-right: 180px;
}
.black-bar-control {
	display: flex;
}
.login {
	margin-left: auto;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}
.selects {
	display: flex;
}
.block-selects {
	display: flex;
	align-items: center;
	height: 70px;
}
.selects-children {
	margin-right: 111px;
	cursor: pointer;
}
.input-block {
	color: white;
	margin-left: auto;
}
.header-input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	color: #FFF;
	width: 218px;
}
.header-input::placeholder {
	color: #FFF;
}
.button-search {
	background: none;
	border: none;
	position: relative;
	top: 5px;
	right: 3px;
	cursor: pointer;
}
h1 {
	font-weight: bold;
	font-size: 72px;
	line-height: 98px;
	display: inline-block;
	width: 597px;
	height: 192px;
	margin-top: 65px;
	margin-bottom: 15px;
}
.paragraph-header {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	display: block;
	width: 579px;
	height: 90px;
	margin-bottom: 115px;
}
.button-header {
	width: 314px;
	height: 70px;
	background: #9D5CD0;
	border-radius: 100px;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.section-header {
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 48px;
	line-height: 65px;
	color: #333333;
}
.about-us {
	color: #333333;
	margin-bottom: 80px;
}
.second-section {
	background-image: url(../img/Fon\ 1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 995px;
}
.flex-blocks-second {
	display: flex;
	color: #FFF;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background: rgba(194, 131, 243, 0.4);
}
.choices[data-type*=select-one]:after {
	background-image: url(../img/Group\ 22.svg);
}
.first-flex-block {
 	width: 25%;
}
.second-flex-block {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 50px;
}
.galary {
	color: #FFF;
}
.choices__inner {
	background: none;
	border-radius: 6px;
	border-color: #FFF;
}
.is-focused .choices__inner {
	border-color: #FFF;
}
.choices__list--dropdown {
	background: none;
}
.is-selected {
    display: none;
}
.choices__list--dropdown.is-active {
    border: 1px solid #999999;
    border-radius: 6px;
}
.is-open .choices__inner {
	border-radius: 6px;
	border-color: #FFF;
}
.choices {
	margin-bottom: 523px;
}
.second-login {
	color:#9D5CD0;
}
.second-paragraph {
	padding-right: 15px;
	display: inline-block;
	margin-top: auto;
}
.picture {
	margin-bottom: 50px;
}
.swiper-slide {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.button-swiper {
	height: 30px;
	margin-top: 100px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.first-button-swiper {
	margin-right: 10px;
	position: relative;
	outline: none;
}
.second-button-swiper {
	margin-left: 10px;
	position: relative;
	outline: none;
}
.pagination {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.countries {
	display: flex;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 30px;
}
.country-header {
	margin-top: 0;
	margin-bottom: 0;
}
.country {
	width: 66px;
	height: 66px;
	margin-left: 30px;
}
.French {
	width: 46px;
	height: 46px;
	border-radius: 25px;
}
.French:hover {
	box-shadow: 0 0 20px #9D5CD0;
	background-color: #9D5CD0;
}
.French:active {
	border: 2px solid #9D5CD0;
	box-shadow: none;
}
.Germany {
	width: 46px;
	height: 46px;
	border-radius: 25px;
}
.Germany:hover {
	box-shadow: 0 0 20px #9D5CD0;
	background-color: #9D5CD0;
}
.Germany:active {
	border: 2px solid #9D5CD0;
	box-shadow: none;
}
.Italy {
	width: 46px;
	height: 46px;
	border-radius: 25px;
}
.Italy:hover {
	box-shadow: 0 0 20px #9D5CD0;
	background-color: #9D5CD0;
}
.Italy:active {
	border: 2px solid #9D5CD0;
	box-shadow: none;
}
.Russia {
	width: 46px;
	height: 46px;
	border-radius: 25px;
}
.Russia:hover {
	box-shadow: 0 0 20px #9D5CD0;
	background-color: #9D5CD0;
}
.Russia:active {
	border: 2px solid #9D5CD0;
	box-shadow: none;
}
.Belgium {
	width: 46px;
	height: 46px;
	border-radius: 25px;
}
.Belgium:hover {
	box-shadow: 0 0 20px #9D5CD0;
	background-color: #9D5CD0;
}
.Belgium:active {
	border: 2px solid #9D5CD0;
	box-shadow: none;
}
.painters-paragraph {
	width: 1080px;
}
.info-about-painters {
	display: flex;
}
.info-painter {
	width: 50%;
	padding-right: 50px;
}
.accordion-years {
	width: 50%;
}
.painter {
	background-image: url(../img/image3.jpg);
	width: 750px;
	height: 470px;
}
.painters-paragraph {
	margin-bottom: 50px;
}
.date {
	font-size: 12px;
	line-height: 16px;
	color: #999;
}
.accordionjs {
	margin-top: 0;
}
.accordionjs .acc_section {
	border: none;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid  #CACACA;
	padding: 30px 10px;
}
.acc_head {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}
.accordionjs .acc_section.acc_active > .acc_head {
	padding-bottom: 30px;
	border-bottom: 1px solid #9D5CD0;
	background: #FFF;
}
.accordionjs .acc_section.acc_active > .acc_content {
	display: flex;
}
.info-accordion-children {
	width: 208px;
}