@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff'), url('../fonts/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensanslightitalic.woff') format('woff'), url('../fonts/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff'), url('../fonts/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff'), url('../fonts/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensanssemibolditalic.woff') format('woff'), url('../fonts/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff'), url('../fonts/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff'), url('../fonts/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensansextrabolditalic.woff') format('woff'), url('../fonts/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@keyframes change-background1920 {  
	0% {     
	  background-image: url(../img/slide\ 1-1x.jpg);
	  background-size: 1920px 800px;
	}
	15% {
	  background-size: 2304px 960px;
	}
	33% {     
	  background-image: url(../img/slide\ 2-1x.jpg);
	  background-size: 1920px 800px;
	}
	48% {
	  background-size: 2304px 960px;
	}
	66% {
	  background-image: url(../img/slide\ 3-1x.jpg);
	  background-size: 1920px 800px;
	 }
	 81% {
	  background-size: 2304px 960px;
	}
	100% {     
	  background-image: url(../img/slide\ 1-1x.jpg);
	  background-size: 1920px 800px;
	} 
}
@keyframes change-background1024 {  
	0% {     
	  background-image: url(../img/slide\ 1-1x.jpg);
	  background-size: 1024px 921.6px;
	}
	15% {
	  background-size: 1228.8px 960px;
	}
	33% {     
	  background-image: url(../img/slide\ 2-1x.jpg);
	  background-size: 1024px 768px;
	}
	48% {
	  background-size: 1228.8px 921.6px;
	}
	66% {
	  background-image: url(../img/slide\ 3-1x.jpg);
	  background-size: 1024px 768px;
	 }
	 81% {
	  background-size: 1228.8px 921.6px;
	}
	100% {     
	  background-image: url(../img/slide\ 1-1x.jpg);
	  background-size: 1024px 768px;
	} 
}
:root {
	--first-color:  #9D5CD0;
	--second-color: #999999;
	--third-color: #7943A4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Open Sans';
	line-height: 32px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
p {
	line-height: 32px;
}
input, textarea, button {
	outline: none;
}
.control {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 160px;
}
.header {
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	color: white;
	font-size: 18px;
	line-height: 25px;
	animation: change-background1920 25s ease infinite;
	background-position: center;
}
.black-bar {
	height: 100px;
	background-color: black;
}
.blur-bar {
	height: 70px;
	background-color: rgba(0, 0, 0, 0.4);
}
.navigation {
	display: flex;
}
.navigation-children {
	margin-right: 62px;
	cursor: pointer;
	transition: color .15s linear;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}
.navigation-children:hover {
	color: var(--first-color);
}
.navigation-children:active {
	color: var(--third-color);
}
.navigation-childen:last-child {
	margin-right: 0;
}
.logo {
	margin-right: 180px;
}
.black-bar-control {
	height: 100px;
	display: flex;
	align-items: center;
}
.login {
	font-size: 18px;
	line-height: 25px;
	width: 76px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	text-align: right;
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	background-position: 2px 5px;
	transition:  color .15s ease;
	transition:  background-image .15s linear;
}
.login:hover {
	color: var(--first-color);
	background-image: url(../img/Vector.png);
}
.login-img {
	margin-left: auto;
}
.header-form {
	margin-left: auto;
}
.selects {
	display: flex;
}
.block-selects {
	display: flex;
	padding-top: 21px;
	height: 70px;
}
.selects-children {
	margin-right: 97px;
}
.selects-children-name {
	color: #FFF;
	font-size: 18px;
	line-height: 25px;
	border: none;
	background: none;
	text-align: left;
	background-image: url(../img/Rectangle\ 54.svg);
	background-repeat: no-repeat;
	background-position: right 10px;
	cursor: pointer;
	transition: color .1s linear;
}
.selects-active {
	color: var(--first-color);
	background-image: url(../img/RectangleUpp.svg);
}
.selects-children-name:hover {
	color: var(--first-color);
	background-image: url(../img/Rectangle\ 76.svg);
}
.selects-children-name:active {
	color: var(--third-color);
	background-image: url(../img/Rectangle\ 74.svg);
}
.selects-active:hover {
	color: var(--first-color);
	background-image: url(../img/RectangleUpp.svg);
}
.children-1 {
	width: 89px;
}
.children-2 {
	width: 159px;
}
.children-3 {
	width: 198px;
}
.children-4 {
	width: 100px;
}
.children-5 {
	width: 100px;
}
.select-painters {
	position: absolute;
	top: 170px;
	width: 300px;
	height: 300px;
	background: rgba(0, 0, 0, 0.6);
	padding: 40px 19px 40px 40px;
	display: none;
}
.select-painters-active {
	display: block;
}
.select-painters-control {
	height: 220px;
}
.painter-name {
	font-size: 24px;
	line-height: 33px;
	font-weight: 600;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
.simplebar-track.simplebar-vertical {
	background-color: black;
	width: 2px;
}
.simplebar-scrollbar {
	background-color: #FFF;
	width: 2px;
}
.painter-background:hover {
	border: 2px solid var(--first-color);
}
.painter-background {
	width: 100%;
	height: 100%;
	padding-top: 2px;
	padding-left: 14px;
	border: 2px solid rgba(0, 0, 0, 0);
}
.painter-background:active {
	background: rgba(194, 131, 243, 0.4);
}
.painter-name1 {
	background-image: url(../img/Rectangle\ 57.jpg);
}
.painter-name2 {
	background-image: url(../img/Rectangle\ 58.jpg);
}
.painter-name3 {
	background-image: url(../img/Rectangle\ 59.jpg);
}
.painter-name4 {
	background-image: url(../img/Rectangle\ 60.jpg);
}
.painter-name5 {
	background-image: url(../img/Rectangle\ 57-2.jpg);
}
.painter-name6 {
	background-image: url(../img/Rectangle\ 58-2.jpg);
}
.painter-name7 {
	background-image: url(../img/Rectangle\ 59-2.jpg);
}
.painter-name8 {
	background-image: url(../img/Rectangle\ 60-2.jpg);
}
.painter-name9 {
	background-image: url(../img/Rectangle\ 57-3.jpg);
}
.painter-name10 {
	background-image: url(../img/Rectangle\ 58-3.jpg);
}
.painter-name11 {
	background-image: url(../img/Rectangle\ 59-3.jpg);
}
.painter-name12 {
	background-image: url(../img/Rectangle\ 60-3.jpg);
}
.painter-name13 {
	background-image: url(../img/Rectangle\ 57-4.jpg);
}
.painter-name14 {
	background-image: url(../img/Rectangle\ 58-4.jpg);
}
.painter-name15 {
	background-image: url(../img/Rectangle\ 59-4.jpg);
}
.painter-name16 {
	background-image: url(../img/Rectangle\ 60-4.jpg);
}
.painter-name17 {
	background-image: url(../img/Rectangle\ 57-5.jpg);
}
.painter-name18 {
	background-image: url(../img/Rectangle\ 58-5.jpg);
}
.painter-name19 {
	background-image: url(../img/Rectangle\ 59-5.jpg);
}
.painter-name20 {
	background-image: url(../img/Rectangle\ 60-5.jpg);
}
.input-block {
	color: white;
	margin-left: auto;
}
.header-input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	color: var(--first-color);
	width: 218px;
	padding-bottom: 3px;
	transition: border-bottom .15s linear;
	position: relative;
	bottom: 1px;
	right: 1px;
}
.header-input::placeholder {
	color: #FFF;
	font-size: 18px;
	line-height: 25px;
}
.button-search {
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../img/Search.svg);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	width: 25px;
	height: 22px;
	border: none;
	position: relative;
	top: 5px;
	right: 3px;
	cursor: pointer;
	transition: background-image .15s linear;
}
.input-block:hover .header-input {
	border-bottom: 1px solid var(--first-color);
}
.input-block:hover .button-search {
	background-image: url(../img/search2.svg);
}
h1 {
	font-weight: bold;
	font-size: 72px;
	line-height: 84px;
	display: inline-block;
	width: 597px;
	height: 192px;
	margin-left: -6px;
	margin-top: 70px;
	margin-bottom: -6px;
}
.paragraph-header {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	display: block;
	width: 579px;
	height: 90px;
	margin-bottom: 92px;
}
#eighth-link {
	width: 314px;
	height: 70px;
	font-size: 18px;
	line-height: 25px;
	background: var(--first-color);
	border-radius: 100px;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border: 3px solid var(--first-color);
	transition: border .15s linear;
}
.button-header:hover {
	border: 3px solid #D1A9F0;
}
.button-header:active {
	background: #7943A4;
}
.section-header {
	margin-top: 80px;
	margin-bottom: 17px;
	margin-left: -3px;
	font-size: 48px;
	line-height: 65px;
	color: #333333;
	font-weight: normal;
}
#fourth-section {
	margin-top: 62px;
}
.about-us {
	color: #333333;
	margin-bottom: 69px;
	max-width: 1080px;
}
.filter {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}
.second-section {
	background-image: url(../img/Fon\ 1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 995px;
}
.flex-blocks-second {
	display: flex;
	color: #FFF;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background: rgba(194, 131, 243, 0.4);
}
.choices[data-type*=select-one]:after {
	background-image: url(../img/Group\ 22.svg);
}
.first-flex-block {
	 width: 25%;
	 position: relative;
}
.second-flex-block {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	padding-left: 50px;
}
.galary {
	color: #FFF;
}
.choices__inner {
	background: none;
	border-radius: 6px;
	border-color: #FFF;
	width: 100%;
	max-width: 400px;
	height: 40px !important;
	min-height: 40px;
}
.is-focused .choices__inner {
	border-color: #FFF;
}
.choices__list--dropdown {
	background: none;
	width: 100%;
	max-width: 400px;
}
.choices__list--single {
	position: relative;
	bottom: 14px;
	left: 2px;
}
.choices__item {
	height: 40px;
	display: flex;
	align-items: center;
}
.is-selected {
    display: none;
}
.choices[data-type*=select-one]:after {
	content: none;
}
.choices {
	background-image: url(../img/Rectangle\ 66.svg);
	background-repeat: no-repeat;
	background-position: 374px center;
}
.choices[data-type*=select-one].is-open:hover {
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: 374px center;
}
.choices__list--dropdown.is-active {
    border: 1px solid var(--second-color);
    border-radius: 6px;
}
.is-open .choices__inner {
	border-radius: 6px;
	border-color: #FFF;
}
/* .choices {
	margin-bottom: 523px;
} */
.second-login {
	color: #c9f;
}
.second-login:hover {
	text-decoration: underline;
}
.second-login:active {
	text-decoration: none;
	color: var(--third-color);
}
.second-paragraph {
	padding-right: 15px;
	display: inline-block;
	position: absolute;
	bottom: -10px;
	letter-spacing: 0.35px;
}
.picture {
	margin-bottom: 50px;
	width: 350px;
	height: 350px;
	background-size: cover;
}
.hover-search {
	transition: background-color .15s linear;
}
.picture:hover .hover-search {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url(../img/Group\ 12-2.png);
	background-repeat: no-repeat;
	background-position: center;
}
.paint-picture {
	width: 100%;
	height: 100%;
	padding: 25px;
}
.picture:active .paint-picture{
	background-color: rgba(194, 131, 243, 0.4);
}
.picture11 {
	background-image: url(../img/Rectangle\ 70.jpg);
}
.picture12 {
	background-image: url(../img/Rectangle\ 69.jpg);
}
.picture13 {
	background-image: url(../img/Rectangle\ 68.jpg);
}
.picture14 {
	background-image: url(../img/Rectangle\ 72.jpg);
}
.picture15 {
	background-image: url(../img/Rectangle\ 73.jpg);
}
.picture16 {
	background-image: url(../img/Rectangle\ 71.jpg);
}
.picture17 {
	background-image: url(../img/Rectangle\ 70-2.jpg);
}
.picture18 {
	background-image: url(../img/Rectangle\ 68.jpg);
}
.picture19 {
	background-image: url(../img/Rectangle\ 69.jpg);
}
.picture20 {
	background-image: url(../img/Rectangle\ 72-2.jpg);
}
.picture21 {
	background-image: url(../img/Rectangle\ 71-2.jpg);
}
.picture22 {
	background-image: url(../img/Rectangle\ 73-2.jpg);
}
.picture23 {
	background-image: url(../img/Rectangle\ 77.jpg);
}
.picture24 {
	background-image: url(../img/Rectangle\ 74.jpg);
}
.picture25 {
	background-image: url(../img/Rectangle\ 79.jpg);
}
.picture26 {
	background-image: url(../img/Rectangle\ 78.jpg);
}
.picture27 {
	background-image: url(../img/Rectangle\ 75.jpg);
}
.picture28 {
	background-image: url(../img/Rectangle\ 76.jpg);
}
.picture29 {
	background-image: url(../img/Rectangle\ 86.jpg);
}
.picture30 {
	background-image: url(../img/Rectangle\ 80.jpg);
}
.picture31 {
	background-image: url(../img/Rectangle\ 90.jpg);
}
.picture32 {
	background-image: url(../img/Rectangle\ 88.jpg);
}
.picture33 {
	background-image: url(../img/Rectangle\ 82.jpg);
}
.picture34 {
	background-image: url(../img/Rectangle\ 84.jpg);
}
.picture35 {
	background-image: url(../img/Rectangle\ 87.jpg);
}
.picture36 {
	background-image: url(../img/Rectangle\ 81.jpg);
}
.picture37 {
	background-image: url(../img/Rectangle\ 91.jpg);
}
.picture38 {
	background-image: url(../img/Rectangle\ 89.jpg);
}
.picture39 {
	background-image: url(../img/Rectangle\ 83.jpg);
}
.picture40 {
	background-image: url(../img/Rectangle\ 85.jpg);
}
.swiper-slide {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.button-swiper1 {
	height: 30px;
	width: 150px;
	margin-top: 105px;
	margin-bottom: 30px;
	margin-left: 3px;
	display: flex;
	align-items: center;
	position: relative;
}
.button-swiper13 {
	height: 30px;
	width: 130px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
	position: relative;
}

.first-button-swiper {
	margin-right: 13px;
	position: relative;
	outline: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.second-button-swiper {
	margin-left: 10px;
	position: relative;
	right: 3px;
	outline: none;
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.swiper-block-height {
	height: 750px;
}
.pagination {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.countries {
	display: flex;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 15px;
}
.countries-block {
	display: flex;
}
.country-header {
	margin-top: 0;
	margin-bottom: 0;
}
.country-effect {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: none;
	transition: box-shadow 0.15s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
}
.country-block:first-of-type {
	margin-left: 33px;
}
.country-block {
	width: 66px;
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}
.country-effect:hover {
	box-shadow: 0 0 20px var(--first-color);
}
.country-effect:active {
	width: 48px;
	height: 48px;
	border: 2px solid var(--first-color);
	box-shadow: none;
}
.country-active:hover {
	box-shadow: none;
}
.country-effect-active {
	height: 66px;
	width: 66px;
	border: 2px solid var(--first-color);
}
.country-effect-active:hover {
	box-shadow: none;
}
.country-effect-active:active {
	box-shadow: none;
}
.foreign-block {
	display: none;
}
.foreign-block-active {
	display: block;
}
.painters-paragraph {
	max-width: 1080px;
	min-height: 128px;
	margin-bottom: 40px;
}
.info-about-painters {
	display: flex;
}
.info-painter {
	width: 50%;
	padding-right: 50px;
	display: none;
}
.info-painter-active {
	display: block;
}
.accordion-years {
	width: 50%;
	padding-left: 25px;
}
.painter {
	background-image: url(../img/image3.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	max-width: 750px;
	max-height: 470px;
	margin-bottom: 30px;
}
.date {
	font-size: 12px;
	line-height: 16px;
	color: #999;
}
.accordionjs {
	margin-top: 0;
}
.accordionjs .acc_section {
	border: none;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid  #CACACA;
	padding: 30.35px 0;
}
.acc_head {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}
.accordionjs .acc_section .acc_head {
	padding-left: 0;
}
.accordionjs .acc_section .acc_content {
	padding: 24px 0;
	padding-bottom: 0;
}
.accordionjs .acc_section.acc_active > .acc_head {
	padding-bottom: 42px;
	border-bottom: 1px solid var(--first-color);
	background: #FFF;
}
.accordionjs .acc_section.acc_active > .acc_content {
	display: flex;
}
.info-accordion-children {
	width: 208px;
	margin-right: 50px;
}
.name-painter-all {
	border: none;
	background: #FFF;
	cursor: pointer;
}
.name-painter-all-active {
	color: var(--first-color);
	font-weight: 600;
}
.name-painter-all:hover {
	text-decoration: underline;
	color: var(--first-color);
}
.name-painter-all1:active {
	text-decoration: none;
	color: var(--third-color);
}
.name-painter-all-active:hover {
	text-decoration: none;
}
.accordionjs .acc_section .acc_head {
	background-image: url(../img/Group\ 77.png);
	background-repeat: no-repeat;
	background-position: right center;
	transition: color, background-image .3s linear;
}
.accordionjs .acc_section .acc_head:hover {
	color: var(--first-color);
	background-image: url(../img/Group\ 21.png);
}
.accordionjs .acc_section.acc_active > .acc_head {
	background-image: url(../img/Group\ 20.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	color: var(--first-color);
}
.fourth-section-children {
	width: 100%;
	max-width: 500px;
	min-height: 700px;
	border: 1px solid #CACACA;
	padding: 50px 50px;
	padding-top: 316px;
	padding-bottom: 75px;
	position: relative;
	background-size: contain;
}
.fourth-section-children-first {
	background-image: url(../img/Rectangle\ 101.jpg);
	background-repeat: no-repeat;
}
.fourth-section-children-second {
	background-image: url(../img/Rectangle\ 102.jpg);
	background-repeat: no-repeat;
}
.fourth-section-children-third {
	background-image: url(../img/Rectangle\ 103.jpg);
	background-repeat: no-repeat;
}
.fourth-section-children-fourth {
	background-image: url(../img/Rectangle\ 104.jpg);
	background-repeat: no-repeat;
}
.fourth-section-children-fiveth {
	background-image: url(../img/Rectangle\ 105.jpg);
	background-repeat: no-repeat;
}
.fourth-section-block-first {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.fourth-section-block-second {
	justify-content: space-between;
	margin-bottom: 50px;
	display: none;
}
.is-active-fourth-block {
	display: flex;
}
.fourth-section-button {
	width: 188px;
	height: 59px;
	margin: 0 auto;
	display: block;
	border: 2px solid var(--first-color);
	border-radius: 100px;
	color: var(--first-color);
	background: none;
	margin-bottom: 78px;
	padding-bottom: 2px;
	cursor: pointer;
	transition: border .15s linear;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}
.fourth-section-button:hover {
	border: 2px solid #D1A9F0;
}
.fourth-section-button:active {
	background: #7943A4;
	color: #FFF;
}
.is-active-fourth-button {
	display: none;
}
.mini-info {
	width: 200px;
	color:  var(--second-color);
	margin-left: auto;
	text-align: right;
	font-size: 12px;
	line-height: 16px;
	position: relative;
	left: 34px;
	bottom: 3px;
	letter-spacing: 0.25px;
}
.event {
	font-size: 24px;
	line-height: 31px;
	font-weight: 600;
}
.additional-info {
	position: absolute;
	bottom: 44px;
	border: none;
	color: var(--first-color);
	padding-bottom: 3px;
	border-bottom: 1px solid var(--first-color);
	background: none;
	cursor: pointer;
	transition: font-weight .1s linear;
}
.additional-info:hover {
	font-weight: bold;
}
.additional-info:active {
	border-bottom: 1px solid #7943A4;
	color: #7943A4;
}
.fiveth-section {
	background-image: url(../img/birmingham.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 766px;
	padding-top: 80px;
}
.fiveth-section-flex {
	display: flex;
}
.books {
	color: #FFF;
	margin-top: 0;
}
.checkbox-block {
	color: #FFF;
	display: flex;
	flex-direction: column;
	margin-bottom: auto
}
.check-span {
	font-weight: 600;
}
label {
	display: flex;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
}
#check1, #check2, #check3, #check4, #check5, #check6, #check7, #check8, #check9, #check10, #check11, #check12, #check13, #check14, #check15, #check16, #check17, #check18, #check19, #check20, #check21, #check22, #check23, #check24 {
    display: none;
}
#check1 + span, #check2 + span, #check3 + span, #check4 + span, #check5 + span, #check6 + span, #check7 + span, #check8 + span, #check9 + span, #check10 + span, #check11 + span, #check12 + span, #check13 + span, #check14 + span, #check15 + span, #check16 + span, #check17 + span, #check18 + span, #check19 + span, #check20 + span, #check21 + span, #check22 + span, #check23 + span, #check24 + span {
    position: absolute;
    top: 9px;
    left: 0px;
    width: 12px;
	height: 12px;
    border: 1px solid  var(--second-color);
}
#check1:checked + span, #check2:checked + span, #check3:checked + span, #check4:checked + span, #check5:checked + span, #check6:checked + span, #check7:checked + span, #check8:checked + span, #check9:checked + span, #check10:checked + span, #check11:checked + span, #check12:checked + span, #check13:checked + span, #check14:checked + span, #check15:checked + span, #check16:checked + span, #check17:checked + span, #check18:checked + span, #check19:checked + span, #check20:checked + span, #check21:checked + span, #check22:checked + span, #check23:checked + span, #check24:checked + span {
	border: 1px solid var(--first-color);
	color: var(--first-color);
}
#check1 +span:before, #check2 +span:before, #check3 +span:before, #check4 +span:before, #check5 +span:before, #check6 +span:before, #check7 +span:before, #check8 +span:before, #check9 +span:before, #check10 +span:before, #check11 +span:before, #check12 +span:before, #check13 +span:before, #check14 +span:before, #check15 +span:before, #check16 +span:before, #check17 +span:before, #check18 +span:before, #check19 +span:before, #check20 +span:before, #check21 +span:before, #check22 +span:before, #check23 +span:before, #check24 +span:before {
    content: '\2022';
    color: var(--first-color);
    position: absolute;
    top: 0;
    bottom: 1px;
	right: 2px;
    opacity: 0;
    transition: opacity, border .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#check1:checked +span:before, #check2:checked +span:before, #check3:checked +span:before, #check4:checked +span:before, #check5:checked +span:before, #check6:checked +span:before, #check7:checked +span:before, #check8:checked +span:before, #check9:checked +span:before, #check10:checked +span:before, #check11:checked +span:before, #check12:checked +span:before, #check13:checked +span:before, #check14:checked +span:before, #check15:checked +span:before, #check16:checked +span:before, #check17:checked +span:before, #check18:checked +span:before, #check19:checked +span:before, #check20:checked +span:before, #check21:checked +span:before, #check22:checked +span:before, #check23:checked +span:before, #check24:checked +span:before {
    opacity: 1;
}
#check1:active ~ #checks1, #check2:active ~ #checks2, #check3:active ~ #checks3, #check4:active ~ #checks4, #check5:active ~ #checks5, #check6:active ~ #checks6, #check7:active ~ #checks7, #check8:active ~ #checks8, #check9:active ~ #checks9, #check10:active ~ #checks10, #check11:active ~ #checks11, #check12:active ~ #checks12, #check13:active ~ #checks13, #check14:active ~ #checks14, #check15:active ~ #checks15, #check16:active ~ #checks16, #check17:active ~ #checks17, #check18:active ~ #checks18, #check19:active ~ #checks19, #check20:active ~ #checks20, #check21:active ~ #checks21, #check22:active ~ #checks22, #check23:active ~ #checks23, #check24:active ~ #checks24{
	color: var(--third-color);
}
#check1:active ~ span, #check2:active ~ span, #check3:active ~ span, #check4:active ~ span, #check5:active ~ span, #check6:active ~ span, #check7:active ~ span, #check8:active ~ span, #check9:active ~ span, #check10:active ~ span, #check11:active ~ span, #check12:active ~ span, #check13:active ~ span, #check14:active ~ span, #check15:active ~ span, #check16:active ~ span, #check17:active ~ span, #check18:active ~ span, #check19:active ~ span, #check20:active ~ span, #check21:active ~ span, #check22:active ~ span, #check23:active ~ span, #check24:active ~ span {
	border: 1px solid var(--third-color);
}
#check1:checked ~ #checks1, #check2:checked ~ #checks2, #check3:checked ~ #checks3, #check4:checked ~ #checks4, #check5:checked ~ #checks5, #check6:checked ~ #checks6, #check7:checked ~ #checks7, #check8:checked ~ #checks8, #check9:checked ~ #checks9, #check10:checked ~ #checks10, #check11:checked ~ #checks11, #check12:checked ~ #checks12, #check13:checked ~ #checks13, #check14:checked ~ #checks14, #check15:checked ~ #checks15, #check16:checked ~ #checks16, #check17:checked ~ #checks17, #check18:checked ~ #checks18, #check19:checked ~ #checks19, #check20:checked ~ #checks20, #check21:checked ~ #checks21, #check22:checked ~ #checks22, #check23:checked ~ #checks23, #check24:checked ~ #checks24 {
	color: var(--first-color);
}
.cost {
	font-style: italic;
}
.cost-block {
	margin-top: 27px;
}
.cost-paragraph {
	margin-bottom: 11px;
	color: #FFF;
	font-weight: 600;
}
.cost-from {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 6px;
	height: 40px;
	width: 341px;
	display: flex;
	justify-content: space-evenly;
	color: #FFF;
}
.left-colomn {
	width: 25%;
}
.right-colomn {
	width: 75%;
	max-width: 1200px;
}
.right-colomn-flex {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
}
.right-colomn-children {
	height: 540px;
	width: 350px;
}
.swiper-slide-add {
	max-width: 1150px !important;
}
.picture1 {
	background-image: url(../img/Rectangle\ 111.jpg);
	background-size: cover;
	width: 290px;
	height: 320px;
}
.picture2 {
	background-image: url(../img/Rectangle\ 112.jpg);
	background-size: cover;
	width: 290px;
	height: 320px;
}
.picture3 {
	background-image: url(../img/Rectangle\ 113.jpg);
	background-size: cover;
	width: 290px;
	height: 320px;
}
.picture4 {
	background-image: url(../img/Rectangle\ 114.jpg);
	background-size: cover;
	width: 290px;
	height: 320px;
}
.picture5 {
	background-image: url(../img/Rectangle\ 115.jpg);
	background-size: cover;
	width: 290px;
	height: 320px;
}
.picture6 {
	background-image: url(../img/Rectangle\ 116.jpg);
	background-size: cover;
	width: 290px;
	height: 320px;
}
.author, .cost {
	color: #FFF;
}
.button-swiper2 {
	color: #FFF;
	height: 30px;
	margin-top: 34px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.swiper-pagination2 {
	position: relative;
	top: 0 !important;
	left: -3px;
	right: 2px !important;
}
.paint-name {
	display: inline-block;
	font-weight: bold;
}
.painter-name-mini {
	position: relative;
	bottom: 10px;
}
.flex-paragraph {
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}
.buy-picture {
	width: 120px;
	height: 40px;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	background: none;
	border: 2px solid var(--first-color);
	border-radius: 100px;
	color: #FFF;
	padding-bottom: 1px;
	cursor: pointer;
	transition: border .15s linear;
}
.buy-picture:hover {
	background: var(--first-color);
}
.buy-picture:active {
	border: 2px solid #D1A9F0;
	background: #7943A4;
}
.cost-input {
	width: 82px;
	height: 38px;
	background: rgba(157, 92, 208, 0.5);
	border: none;
	color: #FFF;
	padding-left: 8px;
	position: relative;
	left: 1px;
}
.cost-input2 {
	position: relative;
	left: -5px;
}
.from {
	position: relative;
	top: 2px;
	left: 4px;	
}
.to {
	position: relative;
	top: 2px;
	margin-right: 2px;
}
.ruble {
	position: relative;
	top: 3px;
	right: 5px;
}
.projects-paragraph {
	max-width: 1080px;
	margin-bottom: 20px;
}

.i-block1, .i-block2, .i-block3 {
	display: inline-block;
	position: relative;
	top: 3px;
	min-width: 16px;
	min-height: 16px;
	background-image: url(../img/i-2.png);
	cursor: pointer;
	transition: background-image .15s linear;
	outline: none;
}
.i-block1:hover, .i-block2:hover, .i-block3:hover, .i-block1:focus, .i-block2:focus, .i-block3:focus {
	background-image: url(../img/i.png);
}
.tooltip1 {
	background-image: url(../img/Rectangle\ 42-3.svg);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 28px;
	left: -126px;
	width: 264px;
	height: 59px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	opacity: 0;
	text-align: center;
	padding-top: 8px;
	transition: opacity .15s linear;
}
.tooltip2 {
	background-image: url(../img/Rectangle\ 42-1.svg);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 20px;
	left: -127px;
	width: 264px;
	height: 80px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	opacity: 0;
	text-align: center;
	padding-top: 7px;
	transition: opacity .15s linear;
}
.tooltip3 {
	background-image: url(../img/Rectangle\ 42-2.svg);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 27px;
	left: -110px;
	width: 242px;
	height: 42px;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	opacity: 0;
	padding-left: 14px;
	padding-top: 7.2px;
	transition: opacity .15s linear;
}
.i-block1:hover .tooltip1, .i-block1:focus .tooltip1 {
	opacity: 1;
}
.i-block2:hover .tooltip2, .i-block2:focus .tooltip2 {
	opacity: 1;
}
.i-block3:hover .tooltip3, .i-block3:focus .tooltip3 {
	opacity: 1;
}
.link-blanchard {
	color: var(--first-color);
	font-weight: 600;
}
.link-blanchard:hover {
	text-decoration: underline;
}
.link-blanchard:active {
	color: var(--third-color);
	text-decoration: none;
}
.partners-header {
	margin-bottom: 23px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	position: relative;
	right: 3px;
}
.partners {
	width: 450px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background-image .3s linear;
}
.partners1 {
	background-image: url(../img/Group\ 65.png);
}
.partners2 {
	background-image: url(../img/Group\ 66.png);
}
.partners3 {
	background-image: url(../img/Group\ 67.png);
}
.partners4 {
	background-image: url(../img/Group\ 221.png);
}
.partners5 {
	background-image: url(../img/Group\ 25.png);
}
.partners6 {
	background-image: url(../img/Group\ 231.png);
}
.partners7 {
	background-image: url(../img/Group\ 26.png);
}
.partners8 {
	background-image: url(../img/Group\ 24.png);
}
.partners9 {
	background-image: url(../img/Group\ 27.png);
}
.partners1:hover {
	background-image: url(../img/Group\ 73.png);
}
.partners2:hover {
	background-image: url(../img/Group\ 72.png);
}
.partners3:hover {
	background-image: url(../img/Group\ 37.png);
}
.partners4:hover {
	background-image: url(../img/Group\ 222.png);
}
.partners5:hover {
	background-image: url(../img/Group\ 60.png);
}
.partners6:hover {
	background-image: url(../img/Group\ 232.png);
}
.partners7:hover {
	background-image: url(../img/Group\ 262.png);
}
.partners8:hover {
	background-image: url(../img/Group\ 59.png);
}
.partners9:hover {
	background-image: url(../img/Group\ 272.png);
}
.swiper-left1, .swiper-left2, .swiper-left2 {
	width: 30px;
	height: 30px;
	background-image: url(../img/Group\ 31.png);
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
	content: none;
	outline: none;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
	content: none;
	outline: none;
}
.contact-block {
	display: flex;	
	height: 700px;
}
.phone {
	width: 37%;
	max-width: 682px;
	border: 1px solid rgba(202, 202, 202, 1);
	border-bottom: none;
}
.do-call {
	max-width: 680px;
	padding-left: 160px;
	padding-top: 124px;
}
.map {
	width: 63%;
}
[class*=ground-pane] {
    filter: grayscale(1)
}
.footer {
	background-color: black;
	height: 140px;
}
.footer-control {
	display: flex;
	height: 140px;
	align-items: center;
	justify-content: space-between;
}
.follow {
	position: relative;
	top: 5px;
}
.follow-children {
	margin-left: 14px;
}
.swiper-pagination {
	position: relative;
	top: 3px;
	width: 50px;
}
.swiper-pagination-fraction {
	bottom: 0;
}
.swiper-left1, .swiper-left2, .swiper-left3 {
	float: left;
	outline: none;
	cursor: pointer;
	min-width: 30px;
	height: 30px;
	background-image: url(../img/Group\ 31.png);
	transition: background-image .15s linear;
}
.swiper-left1:hover, .swiper-left2:hover, .swiper-left3:hover {
	background-image: url(../img/Group\ 12.png);
}
.swiper-left1:active, .swiper-left2:active, .swiper-left2:active {
	background-image: url(../img/Group\ 11.png);
}
.swiper-right1, .swiper-right2, .swiper-right3 {
	outline: none;
	cursor: pointer;
	min-width: 30px;
	height: 30px;
	background-image: url(../img/Group\ 32.png);
	transition: background-image .15s linear;
}
.swiper-right1:hover, .swiper-right2:hover, .swiper-right3:hover {
	background-image: url(../img/Group\ 2.png);
}
.swiper-right1:active, .swiper-right2:active, .swiper-right3:active {
	background-image: url(../img/Group\ 1.png);
}
.partners-block1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1600px;
	margin: 0;
}
.swiper-container3 {
	max-width: 1500px;
}
#seventh-section {
	margin-bottom: 16px;
}
.locate-H {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}
.locate {
	margin-bottom: 27px;
}
.call {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 3px;
}
.form-for-call {
	display: flex;
	flex-direction: column;
}
.name {
	width: 400px;
	height: 40px;
	border: 1px solid #333333;
	border-radius: 100px;
	padding-left: 20px;
	margin-bottom: 22px;
	margin-top: 15px;
}
.tel {
	width: 400px;
	height: 40px;
	border: 1px solid #333333;
	border-radius: 100px;
	padding-left: 20px;
	margin-bottom: 22px;
}
.js-validate-error-field {
	margin-bottom: 3px;
}
.js-validate-error-label:nth-child(4) {
	margin-bottom: 25px;
}
.button-call {
	width: 157px;
	height: 59px;
	border: 2px solid var(--first-color);
	border-radius: 100px;
	background: none;
	color: var(--first-color);
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 38px;
	transition: background .15s linear;
	cursor: pointer;
}
.button-call:hover {
	background: var(--first-color);
	color: #FFF;
}
.button-call:active {
	border: 2px solid #D1A9F0;
	background: #7943A4;
	color: #FFF;
}
.phone-follow {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 15px;
}
.whatsapp {
	margin-right: 15px;
}
.swiper-container11 {
	display: none;
}
.mini-picture {
	display: none;
}
.burger {
	width: 36px;
	height: 28px;
	background: none;
	background-image: url(../img/Burger.png);
	display: none;
	cursor: pointer;
	border: none;
}
.search-open {
	background: none;
	background-image: url(../img/Search.svg);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	background-size: 29.45px, 28.82px;
	border: none;
	width: 29.45px;
	height: 28.82px;
	margin-left: auto;
	display: none;
	cursor: pointer;
}
.info-accordion-children2 {
	display: none;
}
.fourth-section2 {
	display: none;
}
.mini-picture1 {
	background-image: url(../img/Rectangle\ 101.jpg);
	background-repeat: no-repeat;
}
.mini-picture2 {
	background-image: url(../img/Rectangle\ 102.jpg);
	background-repeat: no-repeat;
}
.mini-picture3 {
	background-image: url(../img/Rectangle\ 103.jpg);
	background-repeat: no-repeat;
}
.mini-picture4 {
	background-image: url(../img/Rectangle\ 104.jpg);
	background-repeat: no-repeat;
}
.mini-picture5 {
	background-image: url(../img/Rectangle\ 105.jpg);
	background-repeat: no-repeat;
}
.swiper-container22 {
	display: none;
}
.after-cost-from {
	display: flex;
	margin-top: 30px;
	margin-bottom: 22px;
	align-items: center;
}
.swiper-container31 {
	display: none;
	width: 100%;
}
.swiper-right2 {
	display: none;
}
.swiper-left2 {
	display: none;
}
.second-paragraph2 {
	display: none;
}
.first-button-swiper1, .second-button-swiper1 {
	cursor: pointer;
}
.fourth-section3 {
	display: none;
}
.left-colomn2 {
	display: none;
}
.checkbox-flex {
	display: flex;
}
.mini-checkbox-block:nth-child(1) {
	width: 27%;
}
.mini-checkbox-block:nth-child(2) {
	width: 44.5%;
}
.swiper-container13 {
	display: none;
}
.fourth-section4 {
	display: none;
	margin-bottom: 20px;
}
.swiper-pagination4 {
	width: 125px !important;
	margin: 0 auto;
	margin-top: 9px;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}
.swiper-pagination-bullet-active {
	background-color: #666;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 7.5px;
}
.left-colomn3 {
	display: none;
}
.swiper-container23 {
	display: none;
}
.menu {
	position: absolute;
	z-index: 2;
	height: 768px;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 0 50px;
	transition: transform .2s ease;
	transform: translateY(-110%);
}
.menu.is-active {
	transform: none;
}
.menu-close {
	width: 29px;
	height: 29px;
	background-image: url(../img/X.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 36px;
}
.navigation-menu-children {
	margin-top: 30px;
}
.header-form-menu {
	position: absolute;
	bottom: 50px;
}
.login-menu {
	width: 257px;
	height: 60px;
	border: 2px solid var(--first-color);
	border-radius: 100px;
	color: #FFF;
	background: none;
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	background-position: 82px 22px;
	transition:  color .15s ease;
	transition:  background-image .15s linear;
}
.login-menu:hover {
	color: var(--first-color);
	background-image: url(../img/Vector.png);
}
.swiper-left3 {
	display: none;
}
.swiper-right3 {
	display: none;
}
.swiper-container33 {
	display: none;
	margin: 0 auto;
}
.locale2 {
	display: none;
}
.locate-H2 {
	display: none;
}
.call2 {
	display: none;
}
.do-call2 {
	display: none;
}
@media (max-width: 1850px) {
	.control {
		padding: 0 50px;
	}
	.logo, .navigation, .blur-bar, .header-form {
		display: none;
	}
	.header {
		height: 768px;
	}
	.black-bar {
		background-image: url(../img/logo.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 187.6px, 42px;
	}
	.burger {
		display: block;
	}
	.search-open {
		display: block;
	}
	h1 {
		margin-top: 112px;
		margin-bottom: -14px;
	}
	.paragraph-header {
		width: 661px;
		margin-bottom: 104px;
	}
	.swiper-slide1 {
		display: none;
	}
	.swiper-container11 {
		display: block;
	}
	.swiper-slide12 {
		height: 594px;
	}
	.swiper-container1 {
		display: none;
	}
	.picture {
		width: 280px;
		height: 280px;
		margin-bottom: 34px;
	}
	.second-section {
		height: 839px;
	}
	.second-paragraph {
		bottom: 145px;
		width: 284px;
	}
	.first-flex-block {
		width: 30.3%;
	}
	.second-flex-block {
		width: 69.7%;
	}
	.country-block {
		position: relative;
		top: 10px;
	}
	.info-accordion-children1 {
		display: none;
	}
	.info-accordion-children2 {
		display: block;
	}
	.accordionjs .acc_section .acc_content {
		padding: 26px 0 -3px 0;
	}
	.info-accordion-children {
		margin-right: 0px;
	}
	.info-accordion-children:nth-child(2) {
		position: relative;
		left: 43px;
	}
	.info-painter {
		width: 50%;
		padding-right: 25px;
	}
	.painter-name {
		margin-bottom: -1px;
	}
	.cost-block {
		display: none;
	}
	.fiveth-section {
		height: 687px;
	}
	.right-colomn-children {
		height: 500px;
		width: 290px;
	}
	.left-colomn {
		width: 26.6%;
	}
	.right-colomn {
		width: 73.4%;
	}
	.flex-paragraph {
		margin-top: 8px;
	}
	.cost-from {
		position: relative;
		bottom: 7px;
		margin-left: 16px;
	}
	.cost-paragraph {
		margin-left: 97px;
	}
	.projects-paragraph1 {
		display: none;
	}
	.projects-paragraph2 {
		display: block;
	}
	.swiper-container3 {
		display: none;
	}
	.swiper-container31 {
		display: block;
	}
	.partners {
		width: 384px;
		height: 128px;
	}
	.partners:nth-child(1) {
		position: relative;
		left: 1px;
	}
	.partners:nth-child(2) {
		position: relative;
		right: 2px;
	}
	.swiper-right1 {
		display: none;
	}
	.swiper-right2 {
		display: block;
		margin-left: 24px;
		position: relative;
	}
	.swiper-left1 {
		display: none;
	}
	.swiper-left2 {
		display: block;
		margin-right: 23px;
	}
	.button-swiper1 {
		margin-left: 0;
	}
	.first-button-swiper2 {
		margin-right: 11px;
	}
	.second-button-swiper2 {
		margin-left: 11px;
	}
}
@media (max-width: 1450px) {
	.painter {
		height: 274px;
	}
	.fourth-section-children {
		padding-top: 276px;
		padding-bottom: 50px;
		padding-left: 35px;
		padding-right: 23px;
	}
	.fourth-section1 {
		display: none;
	}
	.fourth-section2 {
		display: block;
	}
	.mini-info {
		left: 11px;
		bottom: 4px;
	}
	.main-paragraph {
		margin-top: 2px;
	}
	.event {
		line-height: 28px;
	}
	.additional-info {
		bottom: 52px;
	}
	.swiper-container21 {
		display: none;
	}
	.swiper-container22 {
		display: block;
	}
	.button-swiper2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.phone {
		width: 47.6%;
	}
	.map {
		width: 52.4%;
	}
	.do-call {
		max-width: 680px;
		padding-left: 50px;
		padding-top: 124px;
	}
	.name {
		width: 334px;
		margin-top: 13px;
	}
	.tel {
		width: 334px;
		height: 40px;
		border: 1px solid #333333;
		border-radius: 100px;
		padding-left: 20px;
		margin-bottom: 22px;
	}
}
@media (max-width: 1130px) {
	.fourth-section-children {
		padding-top: 0px;
		max-width: 290px;
		height: 100%;
		min-height: 683px;
		background:none;
	}
	.event-paragraph {
		display: block;
		max-width: 222px;
	}
	.mini-picture {
		display: block;
		width: auto;
		height: 198px;
		margin: 0 -23px 0 -35px;
		margin-bottom: 18px;
		background-size: cover;
	}
}
@media (max-width: 1024px) {
	.header {
		animation: change-background1024 25s ease infinite;
	}
}
@media (max-width: 800px) {
	.flex-blocks-second {
		display: block;
	}
	.second-paragraph {
		display: none;
	}
	.second-section {
		height: 1169px;
	}
	#second-section {
		margin-top: 0;
	}
	.flex-blocks-second {
		padding-top: 80px;
	}
	.about-us {
		margin-bottom: 69px;
	}
	.choices {
		width: 280px;
		background-position: 254px center;
	}
	.second-flex-block {
		padding-left: 0;
		width: 100%;
	}
	.swiper-container11 {
		height: 768px;
	}
	.button-swiper1 {
		margin-top: 83px;
	}
	.picture {
		width: 317px;
		height: 280px;
	}
	.second-paragraph2 {
		display: block;
		position: static;
		width: 100%;
	}
	.country-effect {
		position: relative;
		bottom: 7px;
	}
	.country-block:first-of-type {
		margin-left: 33px;
	}
	.country-block {
		margin-left: 34px;
	}
	.info-about-painters {
		display: flex;
		flex-direction: column-reverse;
	}
	.info-painter {
		width: 100%;
		padding-right: 0;
	}
	.accordion-years {
		width: 100%;
		padding-left: 0;
	}
	.painters-paragraph {
		margin-bottom: 21px;
	}
	.info-accordion-children1 {
		display: block;
	}
	.info-accordion-children2 {
		display: none;
	}
	.info-accordion-children:nth-child(2) {
		left: 33px;
	}
	.info-accordion-children:nth-child(3) {
		position: relative;
		left: 67px;
	}
	.accordionjs .acc_section {
		padding: 30.5px 0;
	}
	.info-painter {
		margin-top: 28px;
	}
	.painter {
		height: 419px;
	}
	#fourth-section {
		margin-top: 70px;
	}
	.fourth-section2 {
		display: none;
	}
	.fourth-section3 {
		display: block;
	}
	.fourth-section-children {
		max-width: 318px;
	}
	.event-paragraph {
		max-width: 243px;
	}
	.additional-info {
		bottom: 50px;
	}
	.fourth-section-button {
		margin-bottom: 83px;
	}
	.fiveth-section-flex{
		display: block;
	}
	.left-colomn {
		width: 100%;
	}
	.left-colomn1 {
		display: none;
	}
	.left-colomn2 {
		display: block;
	}
	.accordionjs .acc_section.acc_active > .acc_head {
		padding-top: 7px;
		padding-bottom: 45px;
	}
	.accordionjs .acc_section .acc_head {
		padding-bottom: 14px;
		padding-top: 6px;
	}
	.cost-from, .cost-paragraph {
		display: none;
	}
	.cost-block {
		display: block;
		margin-top: 26px;
	}
	.cost-paragraph768 {
		display: block;
		margin-left: 0;
		margin-bottom: 12px;
	}
	.cost-from768 {
		display: flex;
		margin-left: 0;
	}
	.fiveth-section {
		height: 1048px;
	}
	.right-colomn-flex {
		padding-left: 0;
	}
	.after-cost-from {
		margin-top: 43px;
		margin-bottom: 30px;
	}
	.right-colomn {
		width: 100%;
		max-width: 614px;
		margin: 0 auto;
	}
	.button-swiper2 {
		position: relative;
		right: 33px;
	}
	.projects-paragraph2 {
		padding-right: 10px;
		margin-bottom: 25px;
	}
	.link-blanchard {
		display: block;
	}
	.partners {
		width: 264px;
		height: 106px;
	}
	.partners-header {
		margin-bottom: 30px;
	}
	.phone {
		width: 56%;
	}
	.map {
		width: 44%;
	}
}
@media (max-width: 720px) {
	.control {
		padding: 0 15px;
	}
	.countries {
		display: block;
	}
	.country-effect {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: none;
		transition: box-shadow 0.15s linear;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFF;
	}
	.country-block {
		min-width: 44px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 30px;
	}
	.black-bar {
		background-size: 96.8px, 21.67px;
		height: 45px;
	}
	.black-bar-control {
		height: 45px;
	}
	.burger {
		background-size: contain;
		background-repeat: no-repeat;
		width: 20px;
		height: 15px;
	}
	.search-open {
		background-size: contain;
		width: 16px;
		height: 16px;
	}
	.header {
		height: 355px;
	}
	.menu {
		height: 355px;
		padding: 0 15px;
	}
	.menu-close {
		width: 15px;
		height: 15px;
		margin-top: 15px;
	}
	.navigation-menu-children {
		margin-top: 10px;
		font-size: 16px;
	}
	.header-form-menu {
		position: absolute;
		bottom: 27px;
	}
	.login-menu {
		width: 115px;
		height: 40px;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		background-size: 9px 9px;
		background-position: 22px 14px;
	}
	.login-menu:hover {
		background-image: url(../img/Vector.svg);
	}
	h1 {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 258px;
		font-size: 32px;
		line-height: 36px;
		margin-top: 33px;
		height: auto;
	}
	.paragraph-header {
		text-align: center;
		display: block;
		width: 265px;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		margin: 0 auto;
		margin-top: 14px;
	}
	#eighth-link {
		display: block;
		font-size: 12px;
		line-height: 16px;
		width: 200px;
		height: 40px;
		margin: 0 auto;
		margin-top: 15px;
	}
	.section-header {
		font-size: 28px;
		line-height: 38px;
		margin-top: 51px;
		margin-bottom: 11px;
	}
	.about-us {
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 43px;
	}
	.flex-blocks-second {
		padding-top: 50px;
	}
	.filter {
		width: 240px;
		margin-bottom: 5px;
	}
	.picture {
		height: 367px;
	}
	.swiper-container13 {
		display: block;
		height: 367px;
	}
	.swiper-container11 {
		display: none;
	}
	.first-flex-block {
		width: 100%;
	}
	.choices {
		width: 100%;
		margin-bottom: 118px;
		background-position: 265px center;
	}
	.choices__list--dropdown {
		height: 79px;
	}
	.button-swiper13 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.second-section {
		height: 961px;
	}
	.country {
		width: 32px;
		height: 32px;
	}
	.countries {
		margin-bottom: 17px;
	}
	.country-header {
		margin-bottom: 3px;
	}
	.country-block:first-of-type {
		margin-left: -7px;
	}
	.country-block {
		margin-left: 21px;
	}
	.painters-paragraph {
		display: none;
	}
	.acc_head {
	font-size: 18px;
	line-height: 32px;
	}
	.accordionjs .acc_section {
		padding: 15px 0;
		padding-bottom: 19px;
	}
	.accordionjs .acc_section.acc_active > .acc_head {
		padding-bottom: 20px;
		background-size: 30px;
		background-position: right 6px;
	}
	.accordionjs .acc_section.acc_active > .acc_content {
		display: block;
	}
	.info-accordion-children:nth-child(2) {
		left: 0px;
	}
	.info-accordion-children:nth-child(3) {
		position: relative;
		left: 0px;
	}
	.accordionjs .acc_section .acc_content {
		padding-top: 17px;
	}
	.accordionjs .acc_section .acc_head {
		padding-bottom: 1px;
		background-size: 30px;
		background-position: right 7px;
	}
	.info-painter {
		margin-top: 30px;
	}
	.painter {
		margin-bottom: 21px;
		height: 181px;
	}
	.painter-name {
		margin-bottom: 4px;
	}
	.painter-paragraph {
		padding-right: 3px;
	}
	#fourth-section {
		margin-top: 52px;
	}
	.fourth-section3 {
		display: none;
	}
	.fourth-section4 {
		display: block;
	}
	.mini-picture {
		margin-bottom: 20px;
		margin-left: -27px;
		margin-right: -17px;
	}
	.fourth-section-children {
		padding-left: 27px;
		padding-right: 17px;
		width: 99.9%;
	}
	.event-paragraph {
		margin-top: 33px;
		padding-right: 18px;
	}
	.fourth-section4 {
		margin-bottom: 38px;
	}
	.fiveth-section {
		padding-top: 1px;
	}
	.left-colomn2 {
		display: none;
	}
	.left-colomn3 {
		display: block;
	}
	.swiper-container22 {
		display: none;
	}
	.swiper-container23 {
		display: block;
	}
	.swiper-container33 {
		display: block;
		width: 195px;
	}
	.swiper-container4 {
		margin: 0 auto;
		width: 318px;
	}
	.fiveth-section {
		height: 1512px;
	}
	#sixth-section {
		margin-bottom: 13px;
	}
	.projects-paragraph2 {
		padding-right: 0;
		margin-bottom: 10px;
	}
	.partners-header {
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 11px;
	}
	.swiper-container31 {
		display: none;
	}
	.partners {
		position: static;
		width: 195px;
		height: 65px;
	}
	.partners:nth-child(1) {
		position: static;
		left: 0px;
		width: 195px;
		height: 65px;
	}
	.swiper-left2 {
		display: none;
	}
	.swiper-right2 {
		display: none;
	}
	.swiper-left3 {
		display: block;
		margin-right: 17px;
	}
	.swiper-right3 {
		display: block;
		margin-left: 17px;
	}
	.contact-block {
		display: block;
		height: auto;
	}
	.phone {
		display: none;
	}
	.map {
		width: 100%;
		height: 320px;
	}
	#seventh-section {
		margin-bottom: 10px;
	}
	.locale2 {
		display: block;
		padding-left: 13px;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 17px;
	}
	.locate-H2 {
		display: block;
		font-size: 22px;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: -18px;
	}
	.do-call2 {
		display: block;
		padding: 0 14px;
		margin-bottom: 30px;
	}
	.call {
		margin-top: 19px;
		margin-bottom: 5px;
		font-size: 18px;
		line-height: 32px;
	}
	.name, .tel {
		width: 100%;
		margin-bottom: 20px;
	}
	.button-call {
		width: 128px;
		height: 40px;
		font-size: 12px;
		line-height: 16px;
	}
	.phone-follow {
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 7px;
	}
	.form-for-call {
		margin-bottom: -18px;
	}
	.footer-logo {
		width: 96.8px;
		height: 21.67px;
	}
	.footer, .footer-control {
		height: 44px;
	}
	.follow-children2 {
		width: 25px;
		height: 25px;
		margin-left: 9px;
	}
}
